/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

#header {
  font-size: 4vmin;
  line-height: 1.5;
  margin: 0;
  margin-top: 3%;
}

#header-small {
    font-size: 3vmin;
    margin-top: 7vmin;
}

.button-collapse {
  color: #26a69a;
}

.block {
  /*min-height: 514px;*/
  line-height: 0;
  height: auto;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.works-block {
  padding: 0 15px;
}
.works-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  padding: 0;
}

.info {
  height: 300px;
}

#banner {
    margin-bottom: 0px;
}

#thumb {
  padding: 0px;
}

#thumb img {
  max-width:100%; 
  max-height:100%;
  margin:auto;
  display:block;
}

#index-banner {
  background: white url("../img/bckgrnd.jpg") no-repeat center;
  background-size: cover;
}

#on-course {
  background: white url("../img/bckgrnd.jpg") no-repeat center;
  background-size: cover;
}

#on-course i {
  color: #26a69a;
}

#on-course span {
  font-style: italic;
  border-bottom: 1px dotted #000;
}

#teacher {
  background: white url("../img/bckgrnd.jpg") no-repeat center;
  background-size: cover;
}

#for {
  background: white url("../img/bckgrnd.jpg") no-repeat center;
  background-size: cover;
}

#for i {
  color: #26a69a;
}

#programm {
  background: white url("../img/bckgrnd.jpg") no-repeat center;
  background-size: cover;
}

#place {
  background: white url("../img/bckgrnd.jpg") no-repeat center;
  background-size: cover;
}

#price {
  background: white url("../img/bckgrnd.jpg") no-repeat center;
  background-size: cover;
}

#success {
  background: white url("../img/bckgrnd.jpg") no-repeat center;
  background-size: cover;
  height: 85vh;
}

