{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Акварельный скетчинг под Тарусой</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Логотип</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Менюшка</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Менюшка</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="block">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s6" id="thumb">
            <img src="{% static 'images/bckgrnd02.jpg' %}">
          </div>
          <div class="col s6">
            <h5 class="header center-align teal-text text-lighten-2">Курсы "Акварельный скетчинг под Тарусой"</h5>
            <h5 class="center-align" >20-22 мая</h5>
            <h5 class="center-align" >Погрузись в творчество!</h5>
            <div class="center-align">
              <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Оставить заявку</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    
  <!-- ONCOURSE  -->
  <div id="on-course">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 l12">
            <h4>На курсе вы:</h4>
              <ul class="flow-text" >
                <li>Изготовите собственный <span class="tooltipped" data-position="right" data-delay="50" data-tooltip="Скетчинг - это техника быстрых набросков.">скетчбук</span></li>
                <li>Поймёте, что акварель - это просто!</li>
                <li>Научитесь выстраивать композицию разворотов</li>
                <li>Освоите принципы ведения скетчбука</li>
                <li>Узнаете особенности изображения архитектуры</li>
                <li>Перестанете стесняться рисовать на людях</li>
                <li>Разберётесь с ботанической иллюстрацией</li>
                <li>Влюбитесь в скетчинг окончательно и бесповоротно</li>
              </ul>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <!-- TEACHER  -->
  <div id="teacher">
    <div class="container">
    
      <div class="section">
        <div class="row">
          <h4>Преподаватель</h4>
          <div class="col s12 l3">
            <img class="responsive-img circle center-align" src="{% static 'images/iris.jpg' %}">
          </div>
          <div class="col s12 l9">
            <p class="flow-text">Ольга Валеева - замечательный художник, иллюстратор детских книг, постоянный модератор сообщества рисующих людей “Клуб 365”. Её любимый материал - акварель. Художница постоянно рисует с натуры: дома и в лесу, в ботаническом саду в толпе людей и на отдыхе… Цветы и травы, архитектура и животные - все поддаётся её кисти. Во время курса она щедро поделится своим опытом и поможет поверить в свои способности! </p>
          </div>
        </div>
      </div>
      
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row">

            <div class="card-panel col s12 l7">
              <p>Скетчинг - это техника быстрых набросков. При помощи скетчей можно запечатлеть эмоции от конкретного момента, оставить навечно впечатления от каких-либо объектов, зданий, цветов, еды, людей. Скетч может стать эскизом для будущей большой работы, а может - самостоятельным артом. На курсе мы будем рисовать под руководством Ольги Валеевой.</p>
            </div>


          <div class="card-panel col s12 l7 offset-l5">
            <p>Ольга Валеева - замечательный художник, иллюстратор детских книг, постоянный модератор сообщества рисующих людей “Клуб 365”. Её любимый материал - акварель. Художница постоянно рисует с натуры: дома и в лесу, в ботаническом саду в толпе людей и на отдыхе… Цветы и травы, архитектура и животные - все поддаётся её кисти. Во время курса она щедро поделится своим опытом и поможет поверить в свои способности! 
            Курс “Акварельный скетчинг под Тарусой” - это возможность за три дня самостоятельно создать классный скетчбук из качественной бумаги и наполнить его впечатлениями - потрясающая природа и старинные здания, еда и бытовые сценки… Под руководством Ольги вы не только ближе познакомитесь с техникой быстрых набросков, но и узнаете много полезного об акварели, станете лучше понимать этот материал. И просто хорошо проведёте время- места под Тарусой прекрасные!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'images/bckgrnd02.jpg' %}" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Works Section   -->
      <div class="row">
        <div class="col s12 m3">
          <div class="works-block">
            <div class="center-align"><img class="responsive-img circle" src="{% static 'images/iris.jpg' %}"></div>
            <h5 class="center">Ирис</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac.</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="works-block">
            <div class="center-align"><img class="responsive-img circle" src="{% static 'images/church.jpg' %}"></div>
            <h5 class="center">Церковь</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac.</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="works-block">
            <div class="center-align"><img class="responsive-img circle" src="{% static 'images/tree.jpg' %}"></div>
            <h5 class="center">Кувшинка</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac.</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="works-block">
            <div class="center-align"><img class="responsive-img circle" src="{% static 'images/butterfly.jpg' %}"></div>
            <h5 class="center">Бабочка</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  
  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Слово Ольге</h4>
          <p class="left-align light">Преподаватель курса Ольга Валеева: “Рисование для меня - в первую очередь познание Мира. Прекрасного и удивительного мира Живой Природы. Каждый рисунок - это погружение в красоту окружающего, прикосновение к удивительной гармонии живого. Чем внимательнее смотришь на каждый цветок или бабочку, ягоду или травинку, тем больший восторг испытываешь, особенно если удаётся передать его на бумаге. И это огромная радость, которой я с удовольствием делюсь”</p>
          <div class="card">
            <p>Каждому ученику будет выслано домашнее задание, чтобы Ольга Валеева смогла заранее оценить ваш уровень и разработать индивидуальную программу</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Для кого этот курс: слово преподавателю</h4>
          <p class="left-align light">Рисование - вещь удивительная: простая и сложная одновременно, но главное - увлекательная! Все, кто умеет внимательно смотреть на мир вокруг себя - обладают дополнительным знанием о нем. Видят глубже и больше, открывают неожиданные свойства вещей, больше узнают о себе самих... Следующий шаг - это запечатлеть, чтобы поделиться! И вот о том, как это сделать - достаточно быстро и при этом точно - этот небольшой, но интенсивный курс! 
          Каждый, кто взял в руки кисть или карандаш, так или иначе сталкивается с одними и теми же вопросами: с чего начать, как выделить главное, какая техника наиболее выразительна? 
          На нашем курсе мы подробно рассмотрим создание скетчей с использованием акварели. На мой взгляд - это самая выразительная, мобильная и гибкая техника. Акварель вообще одна из самых удивительных техник рисования. В том числе и потому, что у всех она очень разная! 
          Найти и проявить именно ваш стиль и будет основной задачей на этом курсе! 
          Мы обязательно коснемся теории, но самое главное в любом деле - это практика. У каждого в начале курса появится свой акварельный скетчбук, который за три дня наполнится вашими впечатлениями от поэтичной красоты Тарусы и окрестностей...</p>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Про скетчбук</h4>
          <p class="left-align light">Скетчбук - блокнот для набросков, в котором вы запечатлеваете всё, что вас окружает, все свои мысли и идеи. К сожалению, в магазинах не так уж много идеально подходящих под акварель скетчбуков. Поэтому мы изготовим его сами! Мы будем работать на профессиональной бумаге (100% хлопок, плотность 190г/м2), которая позволяет даже в быстром наброске использовать все возможности акварели. Разрежем листы, прошьём, оформим обложку в технике скрапбукинга - и начнём творить, создавая фантастические развороты.</p>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>О Тарусе:</h4>
          <p class="left-align light">Таруса - город поэтов, писателей и художников. Он буквально пропитан творчеством. Здесь жили Марина Цветаева и Осип Мандельштам, здесь писала Белла Ахмадулина, здесь созидал Константин Паустовский. Свои работы в Тарусе создавали такие художники, как Виктор Борисов-Мусатов, Николай Крымов, Василий Бакшеев и Константин Юон.</p>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 l4">
          <div class="card-panel hoverable info">
            <div class="card-content">
              <h5>Пятница (20 мая)</h5>
              <ul>
                <li>Заезд на базу</li>
                <li>Обед</li>
                <li>Знакомство</li>
                <li>Введение в курс от Ольги Валеевой</li>
                <li>Изготовление и оформление скетчбука</li>
                <li>Ужин</li>
                <li>Свободное время</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col s12 l4">
          <div class="card-panel hoverable info">
            <div class="card-content">
              <h5>Суббота (21 мая)</h5>
              <ul>
                <li>Завтрак</li>
                <li>Отъезд в Тарусу</li>
                <li>Рисование в городе под руководством Ольги Валеевой</li>
                <li>Обед в атмосферном кафе</li>
                <li>Экскурсия в музей</li>
                <li>Свободное время</li>
                <li>Отъезд из Тарусы</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col s12 l4">
          <div class="card-panel hoverable info">
            <div class="card-content">
              <h5>Воскресенье (22 мая)</h5>
              <ul>
                <li>Завтрак</li>
                <li>Рисование (возле базы/на базе) </li>
                <li>Обед</li>
                <li>Отъезд с базы</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Курсы "Акварельный скетчинг под Тарусой"</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'images/bckgrnd02.jpg' %}" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Свяжитесь с нами</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Курсы "Акварельный скетчинг под Тарусой"</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'images/bckgrnd02.jpg' %}" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">О нас</h5>
          <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="#">Belskikh</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>

  </body>
</html>
