{% extends "base.html" %}
{% load staticfiles%}

{% block title %} Акварельный скетчинг под Тарусой {% endblock %}

{% block content %}
  <div class="navbar-fixed">
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo"><i class="material-icons">store</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#on-course">О курсе</a></li>
          <li><a href="#teacher">Преподаватель</a></li>
            <li><a href="#for">Для кого</a></li>
          <li><a href="#programm">Программа</a></li>
          <li><a href="#place">Место</a></li>
          <li><a href="#price">Цены</a></li>
          <li><a href="#contact">Контакты</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="#on-course">О курсе</a></li>
          <li><a href="#teacher">Преподаватель</a></li>
            <li><a href="#for">Для кого</a></li>
          <li><a href="#programm">Программа</a></li>
          <li><a href="#place">Место</a></li>
          <li><a href="#price">Цены</a></li>
          <li><a href="#contact">Контакты</a></li>
        </ul>
        <a href="" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
  

  <div id="index-banner" class="block">

        <div class="row" id="banner">
          <div class="col m12 l6" id="thumb">
            <img src="{% static 'landing/img/bckgrnd02.jpg' %}">
          </div>
          <div class="col m12 l6">
            <p class="center-align green-text text-darken-4" id="header">Курс "Акварельный скетчинг под Тарусой" <br> <strong>20-22 мая</strong></p>
            <p class="center-align green-text text-darken-4" id="header-small">ПОГРУЗИСЬ В ТВОРЧЕСТВО!</p>
            <div class="center-align">
              <a href="#contact" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Оставить заявку</a>
            </div>
          </div>
        </div>

  </div>

  <!-- ONCOURSE  -->
  <div id="on-course">
      <a name="on-course"></a>
    <div class="container">
      <div class="section">
        <h4 class="center-align">На курсе вы:</h4>
        <div class="row">
          <div class="col s12 m8 push-m3">
            
            <ul class="flow-text" >
              <li><i class="material-icons">done</i>Изготовите собственный <span class="tooltipped" data-position="right" data-delay="50" data-tooltip="Скетчинг - это техника быстрых набросков">скетчбук</span></li>
              <li><i class="material-icons">done</i>Поймёте, что акварель - это просто!</li>
              <li><i class="material-icons">done</i>Научитесь выстраивать композицию разворотов</li>
              <li><i class="material-icons">done</i>Освоите принципы ведения скетчбука</li>
              <li><i class="material-icons">done</i>Узнаете особенности изображения <span class="tooltipped" data-position="right" data-delay="50" data-tooltip="В Тарусе и окрестностях, где мы будем жить и рисовать, много красивых зданий">архитектуры</span></li>
              <li><i class="material-icons">done</i>Перестанете стесняться <span class="tooltipped" data-position="right" data-delay="50" data-tooltip="Мы будем рисовать с натуры, в том числе в людных местах">рисовать на людях</span></li>
              <li><i class="material-icons">done</i>Разберётесь с <span class="tooltipped" data-position="right" data-delay="50" data-tooltip="Цветы и травы поддадутся вашей кисти!">ботанической иллюстрацией</span></li>
              <li><i class="material-icons">done</i>Влюбитесь в скетчинг окончательно и бесповоротно</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- TEACHER  -->
  <div id="teacher">
    <a name="teacher"></a>
    <div class="container">
    
      <div class="section">
        <div class="row">
          <h4 class="center-align">Преподаватель курса</h4>
          <div class="col s4 push-s4 l3">
            <img class="responsive-img circle center-align" src="{% static 'landing/img/teacher2.jpg' %}">
          </div>
          <div class="col s12 l9">
            <p class="flow-text">Ольга Валеева - замечательный художник, иллюстратор детских книг, постоянный модератор сообщества рисующих людей “Клуб 365”. Её любимый материал - акварель. Художница постоянно рисует с натуры: дома и в лесу, в ботаническом саду в толпе людей и на отдыхе… Цветы и травы, архитектура и животные - все поддаётся её кисти. Во время курса она щедро поделится своим опытом и поможет поверить в свои способности! </p>
          </div>
        </div>

        <h5>Примеры работ Ольги</h5>
        
        <div class="row">
          <div class="col s2 l2">
            <a href="{% static 'landing/img/iris_big.jpg' %}" data-lightbox="album">
              <img class="responsive-img circle" src="{% static 'landing/img/iris.jpg' %}">
            </a>
          </div>
          <div class="col s2 l2">
            <a href="{% static 'landing/img/fazariy_big.jpg' %}" data-lightbox="album">
              <img class="responsive-img circle" src="{% static 'landing/img/fazariy.jpg' %}">
            </a>
          </div>
          <div class="col s2 l2">
            <a href="{% static 'landing/img/siren_big.jpg' %}" data-lightbox="album">
              <img class="responsive-img circle" src="{% static 'landing/img/siren.jpg' %}">
            </a>
          </div>
          <div class="col s2 l2">
            <a href="{% static 'landing/img/mak_big.jpg' %}" data-lightbox="album">
              <img class="responsive-img circle" src="{% static 'landing/img/mak.jpg' %}">
            </a>
          </div>
          <div class="col s2 l2">
            <a href="{% static 'landing/img/undersun_big.jpg' %}" data-lightbox="album">
              <img class="responsive-img circle" src="{% static 'landing/img/undersun.jpg' %}">
            </a>
          </div>
          <div class="col s2 l2">
            <a href="{% static 'landing/img/berez_big.jpg' %}" data-lightbox="album">
              <img class="responsive-img circle" src="{% static 'landing/img/berez.jpg' %}">
            </a>
          </div>
        </div>

            <div class="row">
              <div class="col s2 l2">
                <a href="{% static 'landing/img/garnet_big.jpg' %}" data-lightbox="album">
                  <img class="responsive-img circle" src="{% static 'landing/img/garnet.jpg' %}">
                </a>
              </div>
              <div class="col s2 l2">
                <a href="{% static 'landing/img/castle_big.jpg' %}" data-lightbox="album">
                  <img class="responsive-img circle" src="{% static 'landing/img/castle.jpg' %}">
                </a>
              </div>
              <div class="col s2 l2">
                <a href="{% static 'landing/img/flowers_big.jpg' %}" data-lightbox="album">
                  <img class="responsive-img circle" src="{% static 'landing/img/flowers.jpg' %}">
                </a>
              </div>
              <div class="col s2 l2">
                <a href="{% static 'landing/img/tree_big.jpg' %}" data-lightbox="album">
                  <img class="responsive-img circle" src="{% static 'landing/img/tree.jpg' %}">
                </a>
              </div>
              <div class="col s2 l2">
                <a href="{% static 'landing/img/church_big.jpg' %}" data-lightbox="album">
                  <img class="responsive-img circle" src="{% static 'landing/img/church.jpg' %}">
                </a>
              </div>
              <div class="col s2 l2">
                <a href="{% static 'landing/img/poppy_big.jpg' %}" data-lightbox="album">
                  <img class="responsive-img circle" src="{% static 'landing/img/poppy.jpg' %}">
                </a>
              </div>

            </div>
      </div>
      
    </div>
  </div>

    <!-- FOR WHO -->
  <div id="for">
      <a name="for"></a>
    <div class="container">
      <div class="section">
        <h4 class="center-align">Этот курс для Вас, если Вы:</h4>
        <div class="row">
          <div class="col s12 m8 offset-m2">

            <ul class="flow-text" >
              <li><i class="material-icons">done</i>Недавно начали рисовать или давно не рисовали или рисуете редко и хотите получить "творческий пинок" и продвигаться дальше</li>
              <li><i class="material-icons">done</i>Мечтаете больше узнать об акварели </li>
              <li><i class="material-icons">done</i>Интересуетесь скетчингом и быстрыми зарисовками</li>
              <li><i class="material-icons">done</i>Устали от рутины и хотите вдохнуть жизнь полной грудью</li>
            </ul>
              <p class="flow-text center-align"><strong>Тогда Вам к нам! На три дня погрузитесь в мир красок, поэтичной природы и старинной архитектуры!</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- PROGRAMM -->
  <div id="programm">
    <a name="programm"></a>
    <div class="container">
      <div class="section">
        <h4 class="center-align">Программа курса</h4>
        <div class="row">
          <div class="col s8 offset-s2 l4">
            <div class="card-panel hoverable info">
              <div class="card-content">
                <h5>Пятница (20 мая)</h5>
                <ul>
                  <li>Заезд на базу</li>
                  <li>Обед</li>
                  <li>Знакомство</li>
                  <li>Введение в курс от Ольги Валеевой</li>
                  <li>Изготовление и оформление скетчбука</li>
                  <li>Ужин</li>
                  <li>Рисование</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col s8 offset-s2 l4">
            <div class="card-panel hoverable info">
              <div class="card-content">
                <h5>Суббота (21 мая)</h5>
                <ul>
                  <li>Завтрак</li>
                  <li>Отъезд в Тарусу</li>
                  <li>Рисование в городе под руководством Ольги Валеевой</li>
                  <li>Обед в атмосферном кафе</li>
                  <li>Экскурсия в музей</li>
                  <li>Обсуждение результатов дня</li>
                  <li>Отъезд из Тарусы</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col s8 offset-s2 l4">
            <div class="card-panel hoverable info">
              <div class="card-content">
                <h5>Воскресенье (22 мая)</h5>
                <ul>
                  <li>Завтрак</li>
                  <li>Рисование (возле базы/на базе) </li>
                  <li>Обед</li>
                  <li>Отъезд с базы</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <p class="flow-text center-align">Индивидуальный подход к каждому участнику</p>
            <div class="center-align">
              <a href="#contact" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Оставить заявку</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- PLACE -->
  <div id="place">
    <a name="place"></a>
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 m6 l6">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator about-img" src="{% static 'landing/img/tarusa.jpeg' %}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">О Тарусе<i class="material-icons right">more_vert</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                <p>Таруса - город поэтов, писателей и художников. Он буквально пропитан творчеством. Здесь жили Марина Цветаева и Осип Мандельштам, здесь писала Белла Ахмадулина, здесь созидал Константин Паустовский. Свои работы в Тарусе создавали такие художники, как Виктор Борисов-Мусатов, Николай Крымов, Василий Бакшеев и Константин Юон. Можно сказать, что Таруса - это сердце России, и кто раз здесь побывал, никогда не забудет...</p>
              </div>
            </div>
          </div>

          <div class="col s12 m6 l6">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator about-img" src="{% static 'landing/img/house.jpg' %}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">О доме<i class="material-icons right">more_vert</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                <p>Мы разместимся в большом доме в 5 минутах от реки Ока. Расселяться будем в спальни, в каждой из которых по три односпальных кровати. Большой зал с длинным столом послужит нам одновременно столовой и классом для занятий. Вторым и главным «полигоном» для творчества станет беседка, из которой удобно зарисовывать окружающую природу. В здание участники будут перебираться только по вечерам или в случае плохой погоды. Всех записавшихся на курс обеспечим всем необходимым для жизни и продуктивного творчества.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PRICE -->
  <div id="price">
    <a name="price"></a>
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 m8 l6 push-l3 push-m2">
            <div class="card-panel hoverable">
              <div class="card-content">
                <h4 class="center-align">Стоимость курса <br> 14 000 рублей</h4>
                <br>
                <h5 class="center-align">В курс включено:</h5>
                  <ul class="flow-text" >
                      <li><i class="material-icons">done</i>Трансфер (от ж/д вокзала Серпухова до базы и обратно)</li>
                      <li><i class="material-icons">done</i>Проживание</li>
                      <li><i class="material-icons">done</i>Трехразовое питание</li>
                      <li><i class="material-icons">done</i>Обучение по курсу "акварельный скетчинг"</li>
                      <li><i class="material-icons">done</i>Материалы для создания и оформления скетчбука</li>
                      <li><i class="material-icons">done</i>Экскурсия в Тарусу</li>
                  </ul>
                <p class="flow-text center-align">Мы поможем вам продумать удобный маршрут, чтобы вы максимально быстро и выгодно добрались до места проведения курса!</p>
                <div class="center-align">
                  <a href="#contact" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Оставить заявку</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="page-footer light-green lighten-3">
    <a name="contact"></a>
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 l5">
            <p class="flow-text">Внимание! Количество мест ограничено!</p>
            <p class="flow-text">По любым возникшим вопросам Вы можете связаться с нами по телефонам <a href="tel:79162873913">+7(916)287-39-13</a> или <a href="tel:79268646572">+7(926)864-65-72</a> <br>
или заполнить форму и оставить заявку - мы свяжемся с Вами в ближайшее время!</p>
            <script type="text/javascript" src="//vk.com/js/api/openapi.js?121"></script>

            <!-- VK Widget -->
            <div id="vk_groups"></div>
            <script type="text/javascript">
            VK.Widgets.Group("vk_groups", {mode: 1, width: "200", height: "30", color1: 'c5e1a5', color2: '2B587A', color3: '5B7FA6'}, 117107335);
            </script>
          </div>
          <div class="col s12 l7">
            <div class="row">
              <form class="col s12" role="form" action="" method="post">
                  {% csrf_token %}

                  <div class="input-field">
                      {{ form.contact_name.errors }}
                    <i class="material-icons prefix">account_circle</i>
                    {{ form.contact_name }}
                      {{ form.contact_name.label_tag }}
{#                    <label for="{{ form.contact_name.id_for_label }}">Имя</label>#}
                  </div>

                  <div class="input-field">
                      {{ form.contact_phone.errors }}
                    <i class="material-icons prefix">phone</i>
                    {{ form.contact_phone }}
                      {{ form.contact_phone.label_tag }}
{#                    <label for="{{ form.contact_phone.id_for_label }}">Телефон (необязательно)</label>#}
                  </div>

                  <div class="input-field">
                      {{ form.contact_email.errors }}
                    <i class="material-icons prefix">email</i>
                    {{ form.contact_email }}
                      {{ form.contact_email.label_tag }}
                    {#<label for="{{ form.contact_email.id_for_label }}" data-error="Ошибка">Email:</label>#}
                  </div>

                  <div class="input-field">
                      {{ form.message.errors }}
                    <i class="material-icons prefix">mode_edit</i>
                    {{ form.message }}
                      {{ form.message.label_tag }}
{#                    <label for="{{ form.message.id_for_label }}">Сообщение</label>#}
                  </div>

                <button class="btn waves-effect waves-light" type="submit" name="action">Отправить
                  <i class="material-icons right">send</i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="">Belskikh</a>
      </div>
    </div>
  </footer>
{% endblock %}
{% block custom_scripts %}
    {% if anchor %}
        <script type='text/javascript'>
            $("html, body").animate({
                'scrollTop': $(document).height()
            }, 1000);
        </script>
    {% endif %}
{% endblock %}
